# Project dependencies
node_modules
.cache/

# Build directory
public/
.DS_Store
yarn-error.log


# Config files
.env.*
config/firebase-config.json
app.yaml


firebase-debug.log

# static files
# images