#report-download {
  .title {
    text-align: center;
    &:before {
      display: none;
    }
  }

  .download-link {
    .action-link {
      justify-content: center;
    }
  }
}

.embedded-iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  max-width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

section.report {
  background: $darkbg;
}

section.download {
  background: $greybg;
  text-align: center;

  h2 {
    text-transform: unset;
  }

  .action-link {
    justify-content: center;
  }
}

section.research {
  background: $whitebg;
}