#report-download {
  .title {
    text-align: center;
    &:before {
      display: none;
    }
  }

  .download-link {
    .action-link {
      justify-content: center;
    }
  }
}

section.report {
  background: $darkbg;
}

section.download {
  background: $greybg;
  text-align: center;

  h2 {
    text-transform: unset;
  }

  .action-link {
    justify-content: center;
  }
}

section.research {
  background: $whitebg;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}