
$yellow: #FCB239;
$green: #005E3F;
$purple: #6D5B97;
$orange: #FA7921;

$primary: $yellow;
$secondary: $green;
$highlight: $purple;
$error: $orange;

$black: #000000;
$dark-grey: #404040;
$light-grey: #f3f7f6;
$white: #fff;

